<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <style>
      .callout {
        margin: 1em 0;
        padding: 1em;
      }

      .btn_cell {
        width: 170px;
      }
    </style>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as ctrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <form class="form-inline">
      <div class="form-group">
        <input ng-model="ctrl.searchTerm" type="text" placeholder="search term" class="form-control">
      </div>
      <button ng-click="ctrl.search();" class="btn btn-primary">Narrow It Down For Me!</button>
    </form>

    <found-items found="ctrl.found" on-remove="ctrl.removeItem(index);">
      Nothing found!
    </found-items>
  </div>

  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>

</body>
</html>